In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("combined_data.csv")

In [3]:
df.head()

   label                                               text
0      1  ounce feather bowl hummingbird opec moment ala...
1      1  wulvob get your medircations online qnb ikud v...
2      0   computer connection from cnn com wednesday es...
3      1  university degree obtain a prosperous future m...
4      0  thanks for all your answers guys i know i shou...

In [4]:
df.shape

(83448, 2)

In [5]:
import tensorflow as tf

In [7]:
len(tf.config.list_physical_devices("GPU"))

0

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 83448 entries, 0 to 83447
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   83448 non-null  int64
 1   text    83448 non-null  str
dtypes: int64(1), str(1)
memory usage: 1.3 MB